$blue: rgb(63, 149, 241);
$red: rgb(245, 71, 19);
$black: rgb(46, 44, 44);

@mixin button-color($color) {
    background: $color;

    &:hover {
        background: lighten($color, 10%);
    }

    &:active {
        background: darken($color, 10%);
    }

    &.outline {
        color: $color;
        background: none;
        border: 1px solid $color;

        &:hover {
            background: $color;
            color: white;
        }
    }
}

.Button {
    display: inline-flex;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;

    &.large {
        height: 3rem;
        font-size: 1.25rem;
    }

    &.medium {
        height: 2.25rem;
        font-size: 1rem;
    }

    &.small {
        height: 1.75rem;
        font-size: 0.875rem;
    }

    &.blue {
        @include button-color($blue);
    }

    &.black {
        @include button-color($black);
    }

    &.red {
        @include button-color($red);
    }
}